<p>
    collection_id = {{ collection_id }}
    collection_status = {{ collection_status }}
    external_reference = {{ external_reference }}
    payment_type = {{ payment_type }}
    preference_id = {{ preference_id }}
    site_id = {{ site_id }}
    processing_mode = {{ processing_mode }}
    merchant_account_id = {{ merchant_account_id }}
</p>
