<p>
    collection_id = {{ collection_id }}
    collection_status = {{ collection_status }}
    external_reference = {{ external_reference }}
    payment_type = {{ payment_type }}
    preference_id = {{ preference_id }}
    site_id = {{ site_id }}
    processing_mode = {{ processing_mode }}
    merchant_account_id = {{ merchant_account_id }}
</p>

collection_id=[PAYMENT_ID]&collection_status=approved&external_reference=[EXTERNAL_REFERENCE]&payment_type=credit_card&preference_id=[PREFERENCE_ID]&site_id=[SITE_ID]&processing_mode=aggregator&merchant_account_id=nul